body{
    background-color: antiquewhite;
}
*{
    color: black;
    text-align: center;
}
li {
    color: red;
    
}
.klasni{
    color: brown;
    border: 1px solid;
   
}
#ajdi{
    color: green;
}
li[type="name"]{
    color: blue;
}
h1{
    color: turquoise;
    background-color: bisque;
}
h2{
    color: rgb(33, 87, 57);
}



