@font-face {
    font-family: "Tagesschrift";
    src: url("Tagesschrift-Regular.ttf");
}
@font-face {
    font-family: "Playwrite RO";
    src: url("PlaywriteRO-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Coral Pixels";
    src: url("CoralPixels-Regular.ttf");
}
  a{
    color: blueviolet;
  }
  #vanjski{
    color: blueviolet;
  }
  .font1{
  font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
  }
  .font2{
    font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  }
  .font3{
    font-family: "Playwrite RO", cursive;
  font-optical-sizing: auto;
 
  font-style: normal;
  }
