body{
    background-color:  rgb(65, 57, 57) ;
}
p{
    font-family: 'Indie Flower';
    color: rgb(57, 162, 57);
    text-align: center;
}
h1{
    font-family: 'Indie Flower';
    color: rgb(57, 162, 57);
    text-align: center;
    
}
.container{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    
}
footer{
    text-align: center;
}